body {
    background-color:;
    padding: 20px;
    font-family: SofiaProWeb, Helvetica, Arial, sans-serif;;
}
 #surgihome{
    font-family: 'Orbitron', sans-serif;
}
/* #question3 {
    display: none;
} */